/* Main */
body {
    font-family: "Inconsolata", monospace;
    font-weight: 500;
    font-size: 17px;
    color: #233a45;
}
a:link { color: #233a45; }
a:visited { color: #233a45; }
a:hover { background: #c3d1c8; }
a:active { color: #233a45; }

/* Utility */
.tester {
    height: 100%;
    background-color: red;
    border: 1px solid red;
}
.shadow {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}
.dkblue {
    color: #233a45;
}
.bgdkblue {
    background-color: #233a45;
}
.bg-light {
    background: #c0c9c3;
}
.op30 {
    background: #c0c9c3;
    opacity: 30%;
}
.op50 {
    opacity: 50%;
}
.op70 {
    opacity: 70%;
}
.op100 {
    opacity: 100%;
}

/* mast head */
.mastbordertop {
    border-top: 4px solid #233a45;
}
.masthead {
    position: static;
    color: #233a45;
    border-bottom: 4px solid #c0c9c3;
}
.adtlheadingstyle {
    padding: 4px 48px;
    border: none;
    width: 100%;
}
.navbarstyle {
    justify-content: left;
    align-items: flex-start;
    align-self: flex-start;
}
.navbtnsurround {
    border: 1px solid #233a45;
    margin: 0 10px;
    padding: auto 4px;
}

.navbar-toggler .line {
    background-color: #c0c9c3;
}
/* footer */
.footerstyle {
    background: linear-gradient(0deg, rgba(107,121,119,1) 0%, rgba(98,108,106,1) 100%);
    color:#233a45;
    border-width: 90%;
    border-top: 4px solid #233a45;
    bottom: flex-end;
}