/* Main */
html {
    /* overflow-x: hidden; */
    /* height: 100vh; */
    background: linear-gradient(rgba(178,191,183,0.7), rgba(138,149,143,1));
}
body {
    font-family: "Inconsolata", monospace;
    font-weight: 500;
    font-size: 17px;
    color: #233a45;
    overflow-x: hidden;
    font-size: 18px;
    background: linear-gradient(rgba(178,191,183,0.4), rgba(138,149,143,1));
    background-repeat: no-repeat;
}
a:link { color: #233a45; }
a:visited { color: #233a45; }
a:hover { background: #c3d1c8; }
a:active { color: #233a45; }

/* Utility */
.tester {
    border: 1px solid red;
}
.bg-titlebar {
    background: linear-gradient(rgba(156,169,159,1), rgba(138,149,143,.5));
}
.bg-mid {
    background: #9ca99f;
}
.smmaxw {
    max-width: 40px;
}
.shadow {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}
.dkblue {
    color: #233a45;
}
.bgdkblue {
    background-color: #233a45;
}
.bgdkgreen {
    background-color: #788f71;
}
.txtlight {
    color: #c0c9c3;
}
.bg-light {
    background: #c0c9c3;
}
.op30 {
    opacity: 30%;
}
.op50 {
    opacity: 50%;
}
.op70 {
    opacity: 70%;
}
.op100 {
    opacity: 100%;
}
.maxw {
    max-width: 800px;
}
/* mast head */
.dkbordertop {
    border-top: 4px solid #233a45;
}
.dkgreenborder {
    border: 2px solid #788f71;
}
.masthead {
    color: #233a45;
    border-bottom: 4px solid #c0c9c3;
}
.btnstyle {
    background-color: none;
    border: none;
}

.thinbuttonborder {
    color: #233a45;
    border: 1px solid #233a45;
}

/* footer */
.footerstyle {
    background: radial-gradient(rgba(108, 117, 115, 0.5), rgba(99, 109, 106));
    color:#233a45;
}

.cardstyles {
    background: #abb5ae87;
    border: 2px solid #788f71;
}
.cardheaderstyles {
    background: #788f71c5;
    color: white;
}
.bordernone {
    border: none;
}
.headtext {
    color: #233b45;
}
.card {
    box-shadow: 0 6px 12px #8c9791;
    background-color: rgba(255,255,255, 0.74);
}
.card-title {
    color: #233b45;
    border-bottom: 1px solid #233b45;
}
.bannertext {
    color: #233b45;
}

/* btn classes */
.btn.btn-primary {
    color: #233b45;
    background-color: transparent;
    border-color: #233b45;
    border-radius: 0;
    padding: 2px 30px;
}
.btn.btn-primary:hover {
    color: #233b45;
    background-color: rgba(255, 255, 255, 0.475);
    border-color: #233b45;

}
.btn.btn-primary:focus {
    background-color: #233b45;
    color: white;
    border: none;
}


/* Images */
.imagestyles {
    height: 50px;
    position: absolute;
    right: 24px;
    transform: translateY(-50px);
}