<!-- Left Sidebar -->
{% block leftsidebar %}

    <style>
        .card{
            box-shadow: 0 16px 48px #8c9791;
        }
    </style>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-3 float-right ">
        <div class="card my-4">
                <h5 class="card-header">Left Sidebar</h5>
            <div class="card-body">
                <!-- <div class="" -->
                <p class="card-text"> 
                    This awesome blog is made on the top of our Favourite full stack Framework 'Django', follow up the tutorial 
                    to learn how we made it..!
                </p>
                <p class="card-text"> 
                    This awesome blog is made on the top of our Favourite full stack Framework 'Django', follow up the tutorial 
                    to learn how we made it..!
                </p>
                <p class="card-text"> 
                    This awesome blog is made on the top of our Favourite full stack Framework 'Django', follow up the tutorial 
                    to learn how we made it..!
                </p>
                <a href="#" class="btn btn-success">Know more!</a>
            </div>
        </div>
    </div>
    
{% endblock leftsidebar %}